<div class="navbar navbar-fixed-top navbar-expand-lg" [ngClass]="navbarStyling">
    <a class="navbar-brand" (click)="navbarCollapsed = true">ng-bootstrap</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
            [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" (click)="navbarCollapsed = true">Getting Started</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" (click)="navbarCollapsed = true">Components</a>
            </li>
            <li class="nav-item d-lg-none" *ngFor="let component of components">
            <a class="nav-link" (click)="navbarCollapsed = true">{{ component }}</a>
            </li>
        </ul>
    </div>
</div>
